.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/**/.git

# Proyectos locales de C y materiales pesados
content/universidade/1ano/2semestre/LPII/project/fase2LP2/
content/universidade/1ano/2semestre/LPII/project/fase3/patience/
content/universidade/1ano/2semestre/LPII/project/lpII/
content/universidade/necc/materialCurso/Material-Do-Curso/

# Ignorar la papelera interna de Obsidian
**/.trash/

# Ignorar carpetas enteras de código y proyectos
**/projects/
**/code-rust/
**/code-c/
**/code-python/
**/code-haskell/
**/practice/

# Ignorar librerías de assets pesados (juegos)
**/AssetsLib/

**/hello_cargo/
**/code-rust/

**/manim/
**/manimations/
